@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;

    }
    .about-containers{
        flex-wrap: wrap;
    }
    
}

@media screen and (min-width: 500px) and (max-width:990px) {
    #desktop-nav{
        display: none;
    }
     #hamburger-nav{
        display: flex;
     }

     .arrow {
        display: none;
    }
  
     #profile{
        height: 80vh;
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        margin-left: 1.5rem;
     }

     .profile-pic{
        width: 275px;
        height: 275px;
        margin-left: 1rem;
        margin-bottom: -8rem;
    }
    #about{
        height: 155vh;
        display: flex;
        flex-direction: column;
        margin-top: -3rem;
    }
    #about .title{
        font-size: 1rem;
        margin-left: -4rem;
        text-align: justify;
        width: max-content;
    }

    #about .section-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    #about .about-pic{
        width: 350px;
        height: 350px;
       margin-left: -9.8rem;
    }

    #about .about-containers {
        margin-left: -5rem;
    }
    #about .details-container{
        margin-bottom: 1rem;
    }

    #about .text-container{
        font-size: 14px;
        width: max-content;
        margin-left: -9.5rem; 
    }

    #experience{
        height: 230vh;
    }
    
     #experience .section__text__p1{
        margin-left: -3rem;
        width: max-content;
     } 
     #experience .title{
        font-size: 1rem;
        margin-left: -3rem;
        text-align: justify;
        width: max-content;
    }
    #experience .about-containers{
        display: flex;
        flex-direction: column;
        gap:10px;
    }

    #experience .details-container{
        width: 320px;
        float: left;
        margin-left: -9rem;
        margin-bottom: 1rem;
    }
    
    #education{
        height: 80vh;
    }
    
  #education .section__text__p1{
    margin-left: -2rem;
  }

#education .title{
    font-size: 2rem;
    margin-left: -5rem;
}

#education .details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin-left: -10rem;
    margin-top: 0.5rem;
}

#project{
   height: 200vh;
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
}

#project .section__text__p1{
    margin-left: -1rem;
    width: max-content;
  }
#project .title{
    font-size: 2rem;
    margin-left: -2rem;
}

#project .details-container{
    display: flex;
    flex-direction: column;
    margin-right: -0.2rem;
}

#project .article-container{
    width: 350px;
    height: 350px;
}

#project img{
    width: 330px;
    height: 330px;
    padding: 10px; 
}
#contact{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: 0.5rem;
}
#contact .title{
    font-size: 2rem;
}
#contact .contact-info-container{
    margin-left: 10px;
}
footer{
    height: 22vh;
    margin-top: -5rem;
}
footer li{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-size: 0.9rem;
    
}

}

@media screen and (max-width: 500px) {
    #desktop-nav{
        display: none;
    }
     #hamburger-nav{
        display: flex;
     }

     .arrow {
        display: none;
    }

     #profile{
        height: 80vh;
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        margin-left: 1.5rem;
     }

     .profile-pic{
        width: 275px;
        height: 275px;
        margin-left: 1rem;
        margin-bottom: -8rem;
    }
    #about{
        height: 140vh;
        display: flex;
        flex-direction: column;
        margin-top: -3rem;
    }
    #about .title{
        font-size: 1rem;
        margin-left: -4rem;
        text-align: justify;
        width: max-content;
    }

    #about .section-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    #about .about-pic{
        width: 350px;
        height: 350px;
       margin-left: -9.8rem;
    }

    #about .about-containers {
        margin-left: -5rem;
    }
    #about .details-container{
        margin-bottom: 1rem;
    }

    #about .text-container{
        font-size: 14px;
        width: max-content;
        margin-left: -9.5rem; 
    }

    #experience{
        height: 275vh;
    }
    
     #experience .section__text__p1{
        margin-left: -3rem;
        width: max-content;
     } 
     #experience .title{
        font-size: 1rem;
        margin-left: -3rem;
        text-align: justify;
        width: max-content;
    }
    #experience .about-containers{
        display: flex;
        flex-direction: column;
        gap:10px;
    }

    #experience .details-container{
        width: 320px;
        float: left;
        margin-left: -9rem;
        margin-bottom: 1rem;
    }
    
    #education{
        height: 100vh;
    }
    
  #education .section__text__p1{
    margin-left: -2rem;
  }

#education .title{
    font-size: 2rem;
    margin-left: -5rem;
}

#education .details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin-left: -10rem;
    margin-top: 0.5rem;
}

#project{
   height: 240vh;
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
}

#project .section__text__p1{
    margin-left: -1rem;
    width: max-content;
  }
#project .title{
    font-size: 2rem;
    margin-left: -2rem;
}

#project .details-container{
    display: flex;
    flex-direction: column;
    margin-right: -0.2rem;
}

#project .article-container{
    width: 350px;
    height: 350px;
}

#project img{
    width: 330px;
    height: 330px;
    padding: 10px; 
}
#contact{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: 0.5rem;
}
#contact .title{
    font-size: 2rem;
}
#contact .contact-info-container{
    margin-left: 10px;
}
footer{
    height: 25vh;
    margin-top: -5rem;
}
footer li{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-size: 0.9rem;
    
}

}
