@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;

    }
    .about-containers{
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width:600px) {
    #desktop-nav{
        display: none;
    }
     #hamburger-nav{
        display: flex;
     }

     .arrow {
        display: none;
    }

    #profile{
        display: flex;
        flex-flow:row wrap;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        margin: 30% auto;
        text-align: center;
        height: auto;
        width: ;
    }

    /*profile section*/
    #profile .section__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        text-align: center;
        margin: auto auto;
        height: auto;
        width: auto;
    }
    
    /*About Section*/ /*experience section*/ /*education section*/
    /*project section*/ /*contact*/
    #about, #experience, #education, #project, #contact{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        width: auto;
    }
      /*About Section further */
   #about .section-container{
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: auto;
        gap: 10px;
   }
   #about .section__pic-container{
        display: flex;
        justify-self: center;
        align-self: center;
        align-content: center;
        
   }
   #about .about-pic{
        display: block;
        margin: auto;
        padding: 5px;
        align-self: center;
   }
   #about .about-details-container, #about .about-containers, #about .details-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            gap: 8px;
            margin: auto;
            padding: auto;
            flex:none;
   }
   #about .icon{
        height:fit-content;
   }

  /*experience section further*/

  #education .section__text__p1{
    margin-top: auto;
}


  #experience .details-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width:450px;
        gap: 10px;
        margin: 0;
        margin-bottom: 10px;
  }

   #experience .article-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        gap: 10px;
        margin: 0;
        padding: 5px;
        width: auto;
   }
  
   #experience article{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin: 0;
    padding: 5px;
   }
   #education .details-container{
    margin: 0;
    padding: 5px;
    width: auto;
    height: auto;
   }

   #project .eperience-details-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: auto;
   }

   #project .details-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:450px;
    gap: 10px;
    margin: 0;
    margin-bottom: 10px;
}

footer li{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-size: 0.9rem;   
}
    footer p{
        text-wrap: wrap;
    }
}
