@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;

    }
    .about-containers{
        flex-wrap: wrap;
    }
    
}
@media screen and (min-width: 600px) and (max-width:1200px){
    #desktop-nav{
        display: none;
    }
     #hamburger-nav{
        display: flex;
     }
    
     #profile{
        height: 60vh;
        display: flex;
        flex-direction: column;
        margin-top: 8rem;
        margin-left: 1.5rem;
     }
     #profille, .section-container {
        display: block;
    }
     .profile-pic{
        width: 275px;
        height: 275px;
        margin-bottom: -6rem;
    }

    #about{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
   
    #about .title{
        font-size: 1rem;
        margin-left: -4rem;
        text-align: justify;
        width: max-content;
    }
    #about .about-pic{
        width: 350px;
        height: 350px;
       margin-left: -11rem;
    }
   
    #about .about-details-container{
        margin-top: 10rem;
    }

    #about .details-container{
        margin-bottom: 1rem;
    }
    #about .about-containers {
        margin-left: -5rem;
    }
    #about .text-container{
        font-size: 14px;
        width: max-content;
        margin-left: -11rem; 
    }

     #experience{
        margin-top: 25rem;
     }
     #experience .section__text__p1{
        margin-left: -3rem;
        width: max-content;
     } 
     #experience .title{
        font-size: 1rem;
        margin-left: -3rem;
        text-align: justify;
        width: max-content;
    }
    #experience .details-container{
        margin-bottom: 1rem;
    }

    #experience .details-container{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 320px;
        float: left;
        margin-left: -10rem;
       }
    
    .arrow {
        display: none;
    }
   
    
    .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    
  #education{
    margin-top: 75rem;
  }
  #education .section__text__p1{
    margin-left: -3rem;
  }
#education .title{
    font-size: 2rem;
    margin-left: -7rem;
}
   #education .details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin-left: -11rem;
    margin-top: 0.5rem;
}

#project{
    margin-top: 2rem;
}

#project .section__text__p1{
    margin-left: -3rem;
    width: max-content;
  }
#project .title{
    font-size: 2rem;
    margin-left: -4rem;
}

#project .article-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    gap: 10px;
}
#project .details-container{
    margin-right: -1rem;
}
#project img{
    width: 330px;
    height: 330px;
    padding: 10px; 
}
#contact{
    margin-top: 60rem;
    width: max-content;
    margin-left: -0.5rem;
}
#contact .title{
    font-size: 2rem;
}
#contact .contact-info-container{
    margin-left: 12px;
}
footer li{
    font-size: 12px;
}
footer{
    height: 33vh;
    margin-top: -3rem;
    padding: -5px;
    font-size: 14px;
}
}

@media screen and (max-width: 600px) {
    #desktop-nav{
        display: none;
    }
     #hamburger-nav{
        display: flex;
     }

     .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    
     #profile{
        height: 55vh;
        display: flex;
        flex-direction: column;
        margin-top: 8rem;
        margin-left: 1.5rem;
     }
     #profille, .section-container {
        display: block;
    }
     .profile-pic{
        width: 275px;
        height: 275px;
        margin-bottom: -6rem;
    }
    #about{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    #about .title{
        font-size: 1rem;
        margin-left: -4rem;
        text-align: justify;
        width: max-content;
    }
    #about .about-pic{
        width: 350px;
        height: 350px;
       margin-left: -11rem;
    }
   
    #about .about-details-container{
        margin-top: 10rem;
    }

    #about .details-container{
        margin-bottom: 1rem;
    }
    #about .about-containers {
        margin-left: -5rem;
    }
    #about .text-container{
        font-size: 14px;
        width: max-content;
        margin-left: -11rem; 
    }
    #experience{
        height: 195vh;
    }
    
     #experience .section__text__p1{
        margin-left: -3rem;
        width: max-content;
     } 
     #experience .title{
        font-size: 1rem;
        margin-left: -3rem;
        text-align: justify;
        width: max-content;
    }
    #experience .details-container{
        margin-bottom: 1rem;
    }

    #experience .details-container{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 320px;
        float: left;
        margin-left: -10rem;
       }
    
    .arrow {
        display: none;
    }
    #education{
        height: 70vh;
    }
    
  #education .section__text__p1{
    margin-left: -3rem;
  }

#education .title{
    font-size: 2rem;
    margin-left: -7rem;
}

#education .details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin-left: -11rem;
    margin-top: 0.5rem;
}

#project{
   height: 70vh;
   display: flex;
   flex-direction: column;
}

#project .section__text__p1{
    margin-left: -3rem;
    width: max-content;
  }
#project .title{
    font-size: 2rem;
    margin-left: -4rem;
}

#project .article-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    gap: 10px;
}
#project .details-container{
    margin-right: 0.5rem;
}
#project img{
    width: 330px;
    height: 330px;
    padding: 10px; 
}
#contact{
    margin-top: 60rem;
    width: max-content;
    margin-left: 0.5rem;
}
#contact .title{
    font-size: 2rem;
}
#contact .contact-info-container{
    margin-left: 10px;
}
footer li{
    font-size: 0.9rem;
}
footer{
    height: 25vh;
    margin-top: -6rem;
    padding: 10px;
    font-size: 1rem;
}
}