/*General*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
 
*{
    margin: 0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;/*will smoothly scroll the links rather than going in as a new page*/
}
p{
    color: rgb(85, 85,85);
}
/*Transition*/
a, .btn{
    transition: all 300ms ease;
}
/*Desktop nav*/
nav, .nav-links{
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;/*whatever view heigh of screen is 17% is taken by nav*/
}
.nav-links{
    gap: 2rem;/* so a size of para content is 1 rem so gap is 2 times that size*/
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}
a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: rgb(181, 181, 181);
}
.logo{
    font-size: 2rem;
}
.logo:hover{
    cursor: default;
}
/*Hamburger Menu*/
#hamburger-nav{
    display:none;
}
.hamburger-menu{
    position: relative;
    display: inline-block;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;/* will close hamburger menu close when we close X*/
}
.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-links li{
    list-style: none;
}
.menu-links.open {
    max-height: 300px;
}
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: none;
}
/* Sections*/
section{
    padding: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;/*ensures things are not oberlapping*/
}
.section-container{
    display: flex;
}
/*Profile Section */
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
.section__pic-container{
    margin: auto 0 auto 10rem;
}
.profile-pic{
    float: inline-start;
    height: 400px;
    width: 400px;
    border: none;
    border-radius: 50%;
}
.section__text{
    margin-top: 4rem;
    margin-left: 8rem;
    align-self: center;
    text-align: center;
}
.section__text p{
    font-weight: 600;
}
.section__text__p1{
    text-align: center; 
}
.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem; 
}
.title{
    font-size: 3rem;
    text-align: center;
}
#social-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
/*Icons*/
.icon{
    cursor: pointer;
    height: 2rem;
}
/*Buttons*/
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
.btn-color-1, .btn-color-2{
    border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-1:hover, .btn-color-2:hover{
    cursor: pointer;
}
.btn-color-1, .btn-color-2:hover{
    background: rgb(53, 53, 53);
    color: white;
}
btn-color-1:hover, .btn-color-2{
    background: rgb(0, 0, 0);
}
.btn-color-2{
    background: none;
}
.btn-color-2:hover{
    border: rgb(255, 255, 255) 0.1rem solid;
}
.btn-container{
    gap: 1rem;
}


/*About Section*/
#about{
    position: relative;
}
.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.about-details-container{
    justify-content: center;
    flex-direction: column;
}
.about-container, .about-details-container{
    display: flex;
}
.about-pic {
    height: 400px;
    width: 400px;
    border: none;
    border-radius: 2rem;
    margin-left: -8rem;
    margin-right: 2rem;
    margin-top: 4rem;
}
.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}
.details-container {
    float: inline-start;
    margin-right: 10rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    width: 150px;
}
.section-container{
    gap: 4rem;
    height: 80%;
}
.section__pic-container {
    height: 400x;
    width: 400px;
    margin: auto 0;
}

/*Experience Section*/
#experience{
    position:relative;
}
.experience-sub-title{
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;/*when screen size changes the content wrap around to fit in container size*/
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    
}
article{
    display: flex;
    width: 15rem;
    justify-content: space-around;
    gap: 0.5rem;
}
article  .icon{
    cursor: default;
}
#experience .details-container{
    float: inline-end;
    width: 550px;
    margin-right: 1rem;
}

/*Education section*/
#education{
    position: relative;
}

#education .section__text__p1{
    margin-top: 10rem;
}

#education .details-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    float: none;
    width: auto;
    margin-left: 10rem;

}

/*Project section*/

#project {
    position: relative;
}

.color-container{
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}
.project-img{
    height: 205px;
    width: 300px;
    border: none;
    border-radius: 2rem;
    padding-top: 5px;
}


.project-title{
    margin: 1rem;
    color: black;
}

.project-btn{
    color: black;
    border-color: rgb(red, green, blue);
}
.btn-container{
    margin-bottom: 5px;
}

#project .about-containers{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;/*when screen size changes the content wrap around to fit in container size*/
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    
}
#project .details-container{
    margin-right: 2rem;
    width: 550px;
}

/*Contact Section*/
#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.contact-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    padding: 0.5rem;
    width: 300px;
    margin-left: 36%;
    gap: 1rem;
    font-size: larger;
}
.contact-icon{
    cursor: default;
}

/*Footer Section*/
footer{
    height: 26vh;
    margin:0 1rem;
}

footer p{
    text-align: center;
}